[data-elm-hot="true"] {
  height: inherit;
}

/*import IBM Plex Sans fontu*/
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');

body {
  font-family: 'IBM Plex Sans', 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  text-align: center;
  color: #293c4b;
}

.actual {
  display: block;
}

.not_shown {
  display: none;
}
