.logs {
  display: inline-block;
  position: absolute;
  top: 24px;
  right: 30px;
  padding: 0px 0px 0px 20px;
}

.logs a {
  font-size: 20px;
  padding: 5px 50px;
  margin: 0 10px;
  color: #666666;
  background-color: white;
  border: solid 3px #4da6ff;
  box-shadow: 6px 6px #4da6ff;
  position: relative;
  top: 0px;
  left: 0px;
  transition: 0.2s;
}

.logs a:hover {
  cursor: pointer;
  color: #0d0d0d;
  position: relative;
  top: 4px;
  left: 4px;
  box-shadow: 2px 2px #4da6ff;
}
